body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #002061;
}

.container {
    width: min(800px, 80%);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(94, 94, 178, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    & .time {
        font-size: 80px;
        margin-bottom: 30px;
        color: #002061;
    }
    & .controls {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 300px;
        & img {
            width: 50px;
            height: 50px;
        }
        & img.active {
            border-bottom: 3px solid #3f6fd0;
        }
    }
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    background-color: #002061;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}
